body {
  margin: 0;
  font-family: Arial;
  background-color: #141414;
  color: white;
}

.app {
  padding: 20px;
}

h1 {
  text-align: center;
  color: #e50914;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

#moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-info {
  font-size: 14px;
}
.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
  opacity: 0;
  transition: opacity 0.3s;
}

.movie-card:hover .movie-info {
  opacity: 1;
}